.card{
    background-color: whitesmoke;
    height: max-content;
    width: max-content;
    min-width: 250px;
    padding: 20px;
    display: flex;
}
.card:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.card__name{
    transform: translateY(-20%);
    padding-left: 5px;
}
